<form
    class="flex flex-col sm:flex-row justify-center items-center gap-6"
    (keydown.enter)="$event.preventDefault()"
>
    <label class="w-full input bg-base-200">
        <span class="pi pi-search"></span>
        <input #inputSearch [value]="inputSearchValue()" (keyup)="inputSearchValue.set(inputSearch.value)" type="search" placeholder="Busca un post..." />
    </label>

    @if(authorsResource.hasValue()) {
        <select #authorSelector [value]="authorValue()" (change)="authorChanges(authorSelector.value)" class="select w-full sm:w-72 bg-base-200 hover:cursor-pointer">
            <option [value]="''">Todos los autores</option>
            @for (author of authorsResource.value(); track author.id) {
                <option [value]="author.name">{{ author.name }}</option>
            }
        </select>
    }
    
    @if(categoriesResource.hasValue()) {
        <select #categorySelector [value]="caegoryValue()" (change)="categoryChanges(categorySelector.value)" class="select w-full sm:w-72 bg-base-200 hover:cursor-pointer">
            <option [value]="''">Todas las categorías</option>
            @for (category of categoriesResource.value(); track $index) {
                <option [value]="category.slug" >{{ category.name }}</option>
            }
        </select>
    }
    
</form>
