<header
    class="flex flex-col items-center justify-center border-primary gap-4 p-4 border-1 rounded-lg w-full md:flex-row md:justify-start md:gap-8"
>
    <profile-image [imageUrl]="user().img" [showUploadButton]="!readonly()" />
    <section class="flex flex-col gap-2 justify-start">
        <div class="flex flex-col items-center gap-2 md:flex-row md:gap-4">
            <h1 class="text-3xl font-bold">
                {{ user().name }}
            </h1>
            <pre
                class="inline bg-primary rounded-lg text-sm p-1 whitespace-nowrap text-primary-content w-min h-min"
            >
                    @{{ user().username }}
            </pre>
        </div>
        <p class="flex flex-row items-center gap-2">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
            >
                <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M3.5 4h9c.25 0 .485.06.692.169L8.75 7.5a1.25 1.25 0 0 1-1.5 0L2.808 4.169C3.015 4.06 3.251 4 3.5 4M2.001 5.438L2 5.5v5A1.5 1.5 0 0 0 3.5 12h9a1.5 1.5 0 0 0 1.5-1.5v-5l-.001-.062L9.65 8.7a2.75 2.75 0 0 1-3.3 0zM.5 5.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3z"
                    clip-rule="evenodd"
                />
            </svg>
            <span>
                {{ user().email }}
            </span>
        </p>
        <p>Miembro desde: {{ user().createdAt | date : "longDate" }}</p>
    </section>
</header>
