<footer class="w-full bg-base-300">
    <div class="m-auto max-w-[1200px] bg-base-300 text-neutral-content items-center p-4 flex flex-col gap-2  sm:flex-row sm:justify-between">
        <aside class="flex gap-2 items-center">
            <img src="./assets/images/ISOLOGO COLOR.webp" class="w-20">
            <p>Copyright © - All right reserved</p>
        </aside>
        <nav class="flex gap-4">
            <a href="https://www.youtube.com/@DevTalles" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-youtube text-xl"></span>
            </a>
            <a href="https://x.com/DevTalles" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-twitter text-xl"></span>
            </a>
            <a href="https://www.linkedin.com/school/devtalles/" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-linkedin text-xl"></span>
            </a>
            <a href="https://discord.com/invite/pBjEVYTC7t" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-discord text-xl"></span>
            </a>
            <a href="https://www.facebook.com/DevTallesCorp" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-facebook text-xl"></span>
            </a>
            <a href="https://www.tiktok.com/@devtallescorp" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-tiktok text-xl"></span>
            </a>
            <a href="https://fernando-herrera.com/#/" target="_blank" class="hover:cursor-pointer">
                <span class="pi pi-globe text-xl"></span>
            </a>
        </nav>
    </div>
</footer>
