<div class="flex flex-col items-center w-full mx-auto gap-4 p-4">
    @if (userResource.isLoading()) {
    <span class="loading loading-spinner text-primary"></span>
    } @else if(userResource.hasValue() && userResource.value()) {
    <!--  -->
    @let user = userResource.value()!;
    <profile-header class="w-full" [user]="user" [readonly]="!editable()" />
    <!-- @if(editable()){
    <toggle-group class="w-full" [options]="tabs" [(value)]="activeTab" />
    } -->
    <main class="border-primary p-4 border-1 rounded-lg w-full">
        @switch (activeTab()) {
        <!-- Información Personal -->
        @case (Tabs.INFO) {
        <profile-form
            [user]="user"
            [readonly]="!editable()"
            (onSubmit)="updateUser($event)"
        />
        }
        <!-- Cambiar Contraseña -->
        @case (Tabs.CHANGE_PASSWORD) {
        <!-- Solo disponible si es editable -->
        <!-- @if (editable()){
        <change-password-form [user]="user" />
        }  -->
        } }
    </main>
    }
</div>
