<main class="h-full flex flex-col gap-8 py-8 px-4">
    <h1 class="text-2xl">Posts</h1>

    <section class="flex flex-col gap-4">
        <div class="flex justify-between">
            <post-search-form 
                [currentSearchValue]="postSearchService.search()" 
                [currentCategoryValue]="postSearchService.category()"
                [currentAuthorValue]="postSearchService.author()"
            ></post-search-form>
            <button routerLink="/admin/post/new" class="btn btn-neutral"><span class="pi pi-sparkles mt-0.5"></span>Nuevo Post</button>
        </div>

        <posts-table [posts]="postsResource.value()?.data ?? []"></posts-table>
        <pagination 
            [currentPage]="paginationService.currentPage()"
            [perPage]="postsPerPage()"
            [total]="postsResource.value()?.meta?.total ?? 0"
        ></pagination>
    </section>
</main> 

