<dialog [open]="open()" class="modal">
    <div
        class="modal-box flex flex-col gap-4 max-w-full h-full w-full sm:h-auto"
        [ngClass]="{
                'sm:w-lg': size() == 's',
                'sm:w-3xl': size() == 'm',
                'sm:w-6xl': size() == 'l',
                'sm:w-full': size() == 'full',
            }"
    >
        <!-- Close button -->
        @if (showClose()){
        <button
            class="btn btn-ghost btn-sm btn-circle absolute m-[-20px]"
            (click)="close()"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                viewBox="0 0 16 16"
            >
                <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M8 12.243L6.232 14.01a1.5 1.5 0 0 1-2.121 0L1.99 11.89a1.5 1.5 0 0 1 0-2.122L3.757 8L1.99 6.232a1.5 1.5 0 0 1 0-2.121L4.11 1.99a1.5 1.5 0 0 1 2.122 0L8 3.757L9.768 1.99a1.5 1.5 0 0 1 2.121 0l2.122 2.12a1.5 1.5 0 0 1 0 2.122L12.243 8l1.767 1.768a1.5 1.5 0 0 1 0 2.121l-2.12 2.121a1.5 1.5 0 0 1-2.122 0z"
                    clip-rule="evenodd"
                />
            </svg>
        </button>
        }

        <!-- Header -->
        <header class="text-2xl font-bold text-center">
            <div>
                <ng-content select="modal-header" />
            </div>
            <hr class="mt-4" />
        </header>

        <!-- Main content -->
        <main class="overflow-auto">
            <ng-content />
        </main>
    </div>
    @if(modal()){
    <form method="dialog" class="modal-backdrop">
        <button class="cursor-default!" (click)="close()"></button>
    </form>
    }
</dialog>
