<dialog [open]="open()" class="modal">
    <div
        class="modal-box flex flex-col gap-4 max-w-full h-full w-full sm:h-auto"
        [ngClass]="{
                'sm:w-lg': size() == 's',
                'sm:w-3xl': size() == 'm',
                'sm:w-6xl': size() == 'l',
                'sm:w-full': size() == 'full',
            }"
    >
        <!-- Close button -->
        @if (showClose()){
        <button
            class="btn btn-ghost btn-sm btn-circle absolute m-[-20px]"
            (click)="close()"
        >
            <span class="pi pi-times"></span>
        </button>
        }

        <!-- Header -->
        <header class="text-2xl font-bold text-center">
            <div>
                <ng-content select="modal-header" />
            </div>
            <hr class="mt-4" />
        </header>

        <!-- Main content -->
        <main class="overflow-auto">
            <ng-content />
        </main>
    </div>
    <form method="dialog" class="modal-backdrop bg-black opacity-10">
        @if(modal()){
        <button class="cursor-default!" (click)="close()"></button>
        }
    </form>
</dialog>
